<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>

<body>
    <header>
        <P>Logo</P>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="product.html">Products</a></li>
                <li><a href="#">About</a></li>
                <li><a href="api.html">Apis</a></li>
                <li><a href="#">Contact</a></li>
                </a>
            </ul>
        </nav>
    </header>
    <!-- <div class="vid"><video src="../../static/Motion.mp4" loop autoplay muted></video> -->
    </div>
    <div class="vid">
        <video src="Motion.mp4" type="video/mp4" autoplay loop muted></video>
    </div>



    <div class="two">
        <div class="cont">
            <p>
                Salam Lorem ipsum dolor sit amet consectetur adipisicing elit. In eveniet, illo animi sed quas
                reprehenderit! Neque dolore adipisci harum exercitationem maiores ad alias error esse quos accusamus
                atque
                ut porro, eius, est, eum tempora cupiditate nihil praesentium id! Mollitia, assumenda et iste dolor
                soluta
                nulla ad commodi aperiam reprehenderit nisi, porro, natus voluptates odit animi suscipit possimus ex
                illo
                nesciunt molestias dicta at quidem. Nam, consectetur quisquam recusandae, deleniti nihil a nulla at
                alias
                pariatur facilis, ab porro provident tenetur et perferendis vero mollitia amet exercitationem ipsum
                quas. A
                tempore cumque fuga, praesentium obcaecati alias perferendis veritatis dolorum doloribus inventore
                culpa
                quos commodi minima atque quia magni repellendus nulla. Sequi molestias odit consequatur porro enim,
                saepe,
                repudiandae tenetur voluptate provident aperiam corrupti distinctio! Laudantium mollitia cum laborum
                odit,
                alias accusantium consectetur corrupti debitis, tempora explicabo vitae dolorum in atque dolore
                officiis
                neque fugiat excepturi nulla ea quo omnis. Natus totam accusamus vero, a eius dolorem dolor
                accusantium
                doloribus officiis fugit minus est consequuntur quas corrupti rerum magni nemo consequatur illo
                eveniet
                sed.
                Unde explicabo minus qui voluptatem consequatur architecto necessitatibus dolorum eveniet nobis
                reiciendis
                illum magnam culpa, ab doloribus veritatis facilis. Error eum eligendi iusto, delectus nemo debitis
                saepe
            </p>
        </div>
    </div>
    <!-- <div class="wrap">
        <div class="stat">Salam,</div>
        <ul class="dynam">
            <li><span>Welcome to our website</span></li>
            <li><span>I'm Abdulqadir</span></li>
            <li><span>a web designer</span></li>
            <li><span>working as a freelancer</span></li>
        </ul>
    </div> -->
</body>
<style>
    body {
        background: black;
        align-items: center;
        justify-content: center;
        display: flexbox;
        height: 100%;
    }

    .wrap {
        margin-top: 200pxz;
    }

    .wrap .stat {
        font-size: 3rem;
    }
</style>

</html>