<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>

<body>
    <header>
        <P>Logo</P>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="butn">
                <i>#</i>
            </label>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="product.html">Products</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Apis</a></li>
                <li><a href="contact.html">Contact</a></li>
                </a>
            </ul>
        </nav>
    </header>

    <img src="../../static/file.png" alt="">

    <div class="tt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic fugit nisi assumenda, dolorum minima officiis
            vero
            quas ullam dignissimos nobis repudiandae quis. Consectetur ullam ad et porro eum rerum amet vero doloremque,
            eius dolore. Provident dolorum dicta est nihil accusantium vero iste sapiente, laborum quidem nisi deserunt,
            exercitationem error eligendi ex nulla numquam aut quae autem quam praesentium hic perspiciatis a ratione.
            Nemo,
            nihil autem. Delectus, impedit. Magnam natus dolore placeat eveniet pariatur deleniti blanditiis enim id rem
            recusandae tempora unde animi obcaecati incidunt itaque corrupti, voluptas perferendis. Nam quas ipsa
            possimus
            vitae quasi hic voluptate consequatur rerum esse laborum illum perspiciatis suscipit animi, modi porro in
            dicta.
            Porro recusandae, repudiandae cumque similique alias veniam id sequi error placeat ex perspiciatis ipsum
            molestias fuga eos dolor atque sit, autem at totam consequatur explicabo? Quod commodi officia nemo,
            recusandae
            atque, qui veniam repellat reprehenderit ipsa accusantium quas? Quidem, ut sequi! Consequatur reprehenderit
            iste, ipsum facere, commodi qui nisi placeat quidem, deserunt reiciendis cum! Saepe cupiditate, repellat nam
            officia, veniam quam iste corporis modi, aut quidem facilis suscipit harum sed eveniet. Nulla eos nostrum
            odit.
            Nobis quidem adipisci qui non, doloremque modi cum deleniti rem ab eaque, ducimus maxime labore aut quaerat
            repellendus ex quia eligendi quas quam fugit a ut, ratione optio quos? Reiciendis fuga molestias eveniet
            asperiores debitis atque quibusdam alias, ipsum laboriosam libero autem laudantium consequatur quia sed,
            consectetur doloribus possimus ullam nobis voluptate blanditiis! Facere sit necessitatibus voluptatum
            quisquam
            nemo repellendus quam hic possimus. Tempore sapiente delectus, beatae minima vero, iste et minus ab dolorum
            illum optio? Voluptatem explicabo repudiandae a, expedita temporibus nostrum porro impedit doloremque! Odio
            nihil accusamus sint iste, libero doloremque, repellat provident voluptates atque aspernatur sapiente
            quaerat
            dicta minima, tenetur adipisci! Veniam iusto, voluptatum aut quam tenetur eius, ut obcaecati non vero
            doloribus
            sequi.
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam assumenda facere soluta esse? Libero
            tenetur
            unde laborum cum autem at adipisci atque tempora quos. Velit illo sunt cumque incidunt excepturi impedit.
            Unde
            itaque temporibus assumenda minus dolor sapiente modi, eum quidem reiciendis? Aliquam, voluptates? Maxime
            eligendi laboriosam reprehenderit magnam libero perferendis amet dolor cupiditate nesciunt. Dolor deleniti
            ad,
            ducimus beatae ex molestiae voluptatibus soluta. Expedita, odio. Odit, iste quisquam? Ut laborum mollitia
            sed
            omnis minima tempore, expedita possimus maxime ea! Impedit suscipit itaque maxime animi. Iusto quae ab
            repellendus enim amet cupiditate voluptates! Distinctio iste, molestiae dolore earum ullam, et eveniet
            nostrum
            impedit, magni delectus odit perspiciatis maiores eum error veniam facilis voluptatum doloribus. Aperiam,
            soluta. Impedit molestiae animi aut eaque perspiciatis harum fugiat excepturi aliquam illum asperiores non
            veniam corrupti vitae maxime rerum nulla provident vel, error dolore minus! Distinctio doloremque minus
            iusto
            hic saepe praesentium quis vel officiis! Quibusdam harum in illum, delectus consectetur voluptatum maiores
            suscipit nihil expedita, animi beatae quaerat. Exercitationem ab magnam porro nobis assumenda quod ut
            officia
            possimus molestiae hic expedita corporis, reprehenderit beatae eveniet consequuntur ipsa itaque accusantium.
            Sunt tempora a repudiandae tempore facere deserunt sed architecto eius autem et? Unde nihil consequatur
            deleniti
            doloremque culpa sunt molestiae aliquid at! Omnis ab illum reiciendis atque incidunt explicabo architecto
            beatae? Velit voluptatibus assumenda dolores repellendus tempore dolor veniam laboriosam. Labore magni
            expedita
            voluptates quod veniam quidem est perspiciatis! Ea aspernatur qui perspiciatis nesciunt, maxime asperiores
            est
            magnam impedit repellat laboriosam aliquid enim odit natus minima, temporibus consequuntur harum labore
            accusantium nulla a totam quas, consequatur expedita aperiam. Ipsam aperiam quisquam voluptatem vero non
            laborum
            eius neque eligendi commodi, ea, fugit fuga minus. Voluptas ea esse nihil fuga, similique repellat eius iste
            omnis dignissimos? Dicta nostrum eum ea excepturi mollitia culpa debitis deleniti velit, odio nam voluptates
            laudantium sint esse aliquam, quisquam atque blanditiis deserunt recusandae architecto veniam! Architecto
            qui
            ducimus, illum voluptates sapiente cumque porro odit minus nam vero. Corporis accusantium laudantium
            nesciunt
            voluptatum sit veritatis eius. Recusandae laborum quisquam cupiditate quod sit ab consequuntur culpa
            praesentium
            officiis, dolorum in maxime obcaecati optio illo magnam fugit aliquid illum nostrum soluta nobis voluptatem
            veniam itaque. Minus, fugiat itaque. Sapiente nisi aliquam voluptate tempore dolorem eum molestias? Eos cum
            alias porro labore perferendis atque est aspernatur, rem animi fuga culpa ea nam repellendus voluptate amet
            impedit quos? Id soluta officiis ut debitis autem quod quasi nesciunt doloremque iusto, rerum officia
            quaerat
            sed in magnam esse inventore minus commodi necessitatibus saepe tenetur provident vel voluptatibus.
            Temporibus
            officiis aliquid tempore? Velit repellat tempore odio ratione, distinctio provident doloribus facilis
            corrupti
            iure quis nesciunt reprehenderit natus quia recusandae, sapiente assumenda aut eaque. Possimus quasi
            sapiente
            rem ad culpa eum sequi cupiditate ipsa laudantium fugiat distinctio voluptates, et excepturi! Eos amet
            doloribus
            officia veniam placeat qui asperiores, quis, facilis libero quaerat odio in numquam! Est perferendis
            veritatis
            totam quos cupiditate aspernatur tempore fugit maiores hic, recusandae, neque in numquam! Minima fugit modi
            totam, eligendi quas assumenda hic quis provident atque, voluptatum explicabo eaque tempore quaerat
            repellendus
            perspiciatis molestias! Odit fugiat maiores nemo est nam aut odio repellat quo quidem, omnis non molestiae
            veritatis eos nisi recusandae nihil repellendus consectetur harum a ut accusantium ipsum temporibus magnam
            beatae. Dolor ipsum inventore dolore, cumque debitis quidem voluptatem illo dignissimos nemo eum quo natus,
            quam
            incidunt voluptatum ea aut, dolorum adipisci? Quasi, ut totam consectetur exercitationem ad ratione rerum
            deserunt inventore dolores voluptatum reiciendis optio, sed excepturi a illum labore distinctio repudiandae
            delectus illo cumque beatae! Recusandae sequi quisquam tempora esse facere odio a quae? Recusandae odio in
            quia
            exercitationem cupiditate accusantium pariatur.
        </p>
    </div>

    <style>
        body {
            background: linear-gradient(steelblue, black);
        }

        img {
            height: 75%;
            width: 100%;
            z-index: -1111;
            position: fixed;
            display: flex;
        }

        .tt {
            background: linear-gradient(rgba(5, 5, 5, 0.524), black);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: whitesmoke;
            font-style: oblique;
            padding-top: 40%;
            background-size: 70px;
        }

        .tt p {
            height: 50%;
            display: flex;
            position: relative;
            padding: 20px;
            background: linear-gradient(rgba(0, 0, 0, 0.458), black);
        }
    </style>

</html>