{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>

<body>
    <header>
        <P>Logo</P>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="butn">
                <i>#</i>
            </label>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="product.html">Products</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="api.html">Apis</a></li>
                <li><a href="#">Contact</a></li>
                </a>
            </ul>
        </nav>
        <div class="class">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam culpa provident voluptates, aperiam
                iusto mollitia ab quo officiis commodi illo corporis odit id nulla veniam nam, accusamus minima hic sunt
                dolore. Quam aliquam amet, delectus soluta rerum commodi iste eveniet. Omnis numquam ipsum fuga nobis
                illum. Dolorum eum, cumque perspiciatis blanditiis placeat esse perferendis odit accusamus aut rerum
                fugit delectus officiis illo id optio consequuntur aliquid modi maxime amet non repellat, nihil
                quibusdam quisquam? Numquam sint omnis earum, inventore et blanditiis tempora soluta quo, voluptatem,
                temporibus mollitia ratione ullam unde autem eligendi. Minus, autem, rerum asperiores quia in blanditiis
                facere molestias eius minima explicabo officiis, inventore pariatur? Excepturi tempora suscipit
                provident maxime autem? Mollitia quasi maiores, tenetur pariatur quis exercitationem, incidunt labore
                modi placeat veritatis aperiam aspernatur magni unde doloribus ut voluptatum fugit omnis tempora
                provident! Rem similique corporis magnam laborum est. Molestias quo hic quibusdam unde corrupti quis
                itaque expedita nulla in quos eaque animi assumenda consequatur ipsa quam voluptatum omnis laborum, amet
                magnam commodi molestiae quisquam nihil quod deserunt! Ipsa tenetur, aliquid in, sit quae, alias tempora
                eaque a quas voluptas iusto! Fuga cum ad nostrum quisquam veritatis, quasi magni, aut ex voluptas dolor
                officiis perspiciatis similique sequi.</p>
        </div>

    </header>
    <style>
        /* .class {
            position: absolute;
            /* display: flex; 
            align-items: center;
            justify-content: center;
            padding: 15px;
        }

        .class p {
            color: bisque;
            text-decoration: none;

        } */
    </style>

</body>

</html>