<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/som.css">
</head>

<body>
    <header>
        <img src="../../static/logo.png" alt="logo">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="butn">
                <i>#</i>
            </label>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="product.html">Products</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="api.html">Apis</a></li>
                <li><a href="#">Contact</a></li>
                </a>
            </ul>
        </nav>

    </header>
    <form action="submit">
        <div class="over">
            <h1>Contact us!</h1>
            <!-- {% csrf_token %} -->

            <div class="norm">
                <input type="text" required id="te">
                <label for="te">Name</label>
            </div>

            <div class="mail">
                <input type="email" id="ma" required>
                <label for="ma">Email</label>
            </div>

            <div class="mess">
                <textarea id="me" cols="30" rows="10" required></textarea>
                <label for="me">Your Message</label>
            </div>
            <div class="but">
                <button>Send</button>
            </div>
    </form>
    </div>
    <style>
        body {
            background: linear-gradient(to right, rgb(17, 129, 195), lavender, lavender, rgb(17, 129, 195));

        }
    </style>
</body>

</html>