<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/som.css">
</head>

<body>
    <header>
        <img src="../../static/logo.png" alt="logo">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="butn">
                <i>#</i>
            </label>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="product.html">Products</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="api.html">Apis</a></li>
                <li><a href="contact.html">Contact</a></li>
                </a>
            </ul>
        </nav>

    </header>
    <div class="vid">
        <h2>Welcome</h2>
        <video src="../../static/black.mp4" type="video.mp4" muted loop autoplay></video>
    </div>


    <div class="vid">Home Page of this website is here</div>
    <div class="two">
        <div class="cont">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in aspernatur amet, reprehenderit molestias
                molestiae repudiandae unde nesciunt non mollitia nisi laudantium illum nulla dolorem beatae tempora
                aliquam
                blanditiis! Consectetur ex repellendus aperiam suscipit. Suscipit id nam nisi impedit aperiam dolorem
                amet
                et, magnam accusamus beatae maxime. Dolore, eaque? Labore placeat velit quod dolor numquam aliquam
                necessitatibus unde quos, quas aspernatur quae laborum amet vero consequatur eum repellat? Perspiciatis
                delectus facilis pariatur quidem aliquid quam molestias autem itaque quis sint, possimus deleniti magnam
                consequatur dolorum inventore, placeat, nihil vel voluptatem. Quos explicabo neque tenetur! Similique
                nulla
                harum soluta, earum cum consequuntur beatae libero tempora magnam error consectetur optio quidem vitae
                possimus odit quaerat temporibus veniam? Sed debitis doloribus at vitae omnis atque aliquid nam eum fuga
                iusto. Libero ipsam totam in tempore reiciendis fugiat accusamus facilis incidunt corrupti iste atque,
                vero
                culpa pariatur, quasi nostrum a. Quibusdam aperiam ducimus nam voluptatum temporibus perspiciatis, animi
                nostrum repellat dolorum expedita porro quod eius qui labore? Temporibus cum pariatur illum ex,
                molestiae
                debitis, quasi qui tempora nisi iusto voluptas sed, veritatis saepe commodi quod nesciunt unde
                laboriosam
                neque? Adipisci reprehenderit eaque, necessitatibus ut laborum eos accusantium temporibus error delectus
                rem
                tenetur reiciendis ratione ipsum deserunt ipsam modi. Sint accusantium nemo ipsam dicta. Ex, est? Id
                nobis
                non laborum nulla rerum molestiae quod reiciendis, rem eaque, delectus sapiente quas nemo! Dignissimos
                facere impedit dolor, necessitatibus commodi ea perspiciatis repellat adipisci voluptatem sunt
                cupiditate
                tenetur exercitationem obcaecati unde aliquid sed beatae alias laudantium ducimus. Suscipit excepturi
                nostrum est repellat architecto deleniti aliquam non quidem incidunt culpa quae quo, sint molestiae
                totam
                perspiciatis itaque optio, quod velit, modi vero officia quos. Soluta nobis facilis vero, laudantium
                libero
                delectus, praesentium voluptate ex illo placeat rerum? Neque fugiat dolorem doloribus quis? Autem vel
                eligendi placeat reiciendis aliquid? Nemo.</p>
        </div>
    </div>
    <div class="vid">
        <h1>viewers of this site Welcome</h1>
    </div>
    <div class="two">
        <div class="cont">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, provident. Earum aspernatur optio ipsum
                corporis impedit quibusdam fugit vel laudantium. Sunt, modi praesentium est nobis omnis accusamus
                dolorem
                magni illo error architecto hic quasi nam inventore laboriosam neque vitae necessitatibus nihil in aut
                aliquid cumque? Ab nulla corporis ipsam sequi repellat, odit, natus alias debitis illo est sunt laborum,
                repellendus dolorem unde fugiat voluptatum ullam cum asperiores obcaecati iure voluptatibus sed incidunt
                minima! Vel necessitatibus velit ipsam aspernatur officiis, saepe facere! Aspernatur consectetur cumque
                dolor fuga. Quasi perspiciatis nostrum earum non ipsa! Explicabo provident mollitia voluptatum incidunt
                saepe doloribus, amet assumenda, in, dolorem culpa velit eaque possimus eveniet maiores odit animi sed
                quo
                nostrum repudiandae. Itaque, saepe? Vitae commodi fugit fuga atque molestias expedita reiciendis
                voluptatem,
                sunt minus natus quos similique illum amet facere iste dolores omnis alias molestiae? Nostrum,
                temporibus
                labore! Velit, quam nulla? Odit voluptate, qui corporis quod exercitationem doloribus dolor a, illum vel
                sed
                quia alias natus distinctio dicta officiis deleniti ratione soluta dolore eaque est voluptas fuga culpa
                nobis repellat. Sapiente, debitis unde, assumenda voluptates sequi quia, minima enim omnis voluptate
                cupiditate aspernatur expedita? Reprehenderit rerum odio fuga, et ipsam nam, dolorum vitae autem rem,
                quaerat omnis adipisci quis doloribus cum ipsa voluptatum! Reiciendis labore dolorum provident
                voluptatum at
                sint sapiente reprehenderit, officiis aliquid nobis, nemo maxime nostrum! Iusto et non itaque, incidunt
                minima iste assumenda autem eveniet ut dignissimos atque ipsa voluptatibus soluta. Esse nostrum rerum
                impedit quasi dolore perspiciatis ipsam nihil ab obcaecati animi. Sunt voluptatibus quaerat, at
                consectetur
                quis, quasi, explicabo fugit odit error repellat voluptatem rerum architecto quod quidem alias molestiae
                cupiditate aperiam? Maxime, porro quis iste dicta repellendus, dolore blanditiis quaerat rem deleniti
                dolorum animi inventore illo asperiores nulla eligendi enim perspiciatis! Voluptatem veniam ipsum non
                mollitia, aperiam neque beatae facilis.</p>
        </div>
    </div>
    <footer>
        <div class="div">
            <ul>
                <li>Apis</li>
            </ul>

            <ul>
                <li>Pricing</li>
            </ul>

            <ul>
                <li>Sponsors</li>
            </ul>

        </div>
    </footer>
</body>
<style>
    body {
        background: black;
        align-items: center;
        justify-content: center;
        /* display: flex; */
    }
</style>

</html>