<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/som.css">
</head>

<body>
    <header>
        <img src="../../static/logo.png" alt="logo">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="butn">
                <i>#</i>
            </label>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="api.html">Apis</a></li>
                <li><a href="contact.html">Contact</a></li>
                </a>
            </ul>
        </nav>

    </header>
    <div class="vid">
        <video src="../../static/Motion.mp4" type="video.mp4" muted loop autoplay></video>

        <h2>Welcome viewers to the great website.</h2>

    </div>
    <div class="two">
        <div class="cont">
            <h3>salamualikum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem unde veniam nemo eaque ab
                inventore consectetur natus minima non, ipsa distinctio corrupti hic excepturi. Dolorem, quas nulla
                voluptatem magnam numquam eaque libero amet optio ea illum soluta, doloribus ducimus asperiores eius
                error sequi eligendi vitae illo, adipisci consequuntur? Facere nobis rerum quibusdam possimus minima
                obcaecati quisquam numquam repellat quo optio officiis necessitatibus dignissimos libero consequuntur
                pariatur veritatis facilis voluptatum perferendis, commodi cupiditate soluta. Eum doloremque nam nisi
                rerum delectus dolor, sed expedita, animi aliquid quae aliquam corporis odit? Nostrum veritatis cumque
                necessitatibus totam quos magnam soluta, quisquam harum, placeat ex, sed alias vel deleniti consequuntur
                commodi? Neque, odio ut error a itaque nemo. Dignissimos veritatis neque, eum, distinctio a quasi
                nostrum ab animi at ea odio et dolorum reiciendis corporis explicabo error laudantium natus esse
                accusantium? Vitae aut id eos possimus quae nulla eaque molestias odio, numquam magnam cumque expedita?
            </p>
        </div>
    </div>
    <div class="img">
        <div class="cont">
        </div>
    </div>

    <div class="two">
        <div class="cont">
            <h3>More Text</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem unde veniam nemo eaque ab
                inventore consectetur natus minima non, ipsa distinctio corrupti hic excepturi. Dolorem, quas nulla
                voluptatem magnam numquam eaque libero amet optio ea illum soluta, doloribus ducimus asperiores eius
                error sequi eligendi vitae illo, adipisci consequuntur? Facere nobis rerum quibusdam possimus minima
                obcaecati quisquam numquam repellat quo optio officiis necessitatibus dignissimos libero
                consequuntur
                pariatur veritatis facilis voluptatum perferendis, commodi cupiditate soluta. Eum doloremque nam
                nisi
                rerum delectus dolor, sed expedita, animi aliquid quae aliquam corporis odit? Nostrum veritatis
                cumque
                necessitatibus totam quos magnam soluta, quisquam harum, placeat ex, sed alias vel deleniti
                consequuntur
                commodi? Neque, odio ut error a itaque nemo. Dignissimos veritatis neque, eum, distinctio a quasi
                nostrum ab animi at ea odio et dolorum reiciendis corporis explicabo error laudantium natus esse
                accusantium? Vitae aut id eos possimus quae nulla eaque molestias odio, numquam magnam cumque
                expedita?
            </p>
        </div>
    </div>

    <div class="img2">
        <div class="num">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat quo corporis ad odio nesciunt?
                Delectus excepturi id facilis tempora modi. Velit qui reprehenderit molestias eligendi, recusandae atque
                explicabo aliquam, odit laboriosam dolores sequi voluptates quos consectetur quo amet quisquam id, totam
                incidunt veniam doloribus odio. Id, animi esse. A et reprehenderit consequatur repellendus laudantium!
                Fuga possimus et sapiente consequatur labore consequuntur laborum quam quas! Ducimus sequi facere
                delectus iusto provident voluptatem commodi error aliquam repudiandae! Tenetur non libero modi neque
                quis tempore illo molestias nemo ducimus eos consectetur magnam facilis, molestiae qui fugiat! Autem
                nemo reprehenderit ea illum, sapiente unde sint omnis odit atque quis eveniet at minus adipisci fuga
                possimus perferendis! Omnis incidunt iusto, fuga ipsum aut tempore impedit eius consectetur cupiditate
                debitis! Harum, ullam dicta. Cupiditate qui laborum in voluptatem nam ullam! Doloribus nemo culpa
                provident officia atque maxime magni aliquam voluptates animi. Non amet atque provident eos.
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque temporibus iste doloribus nihil cum vero
                accusantium mollitia at dolorum quos. Quidem eaque modi quod aspernatur aliquid? Facere, tempora?
                Pariatur tempora doloribus, consectetur commodi est esse dignissimos vel, ad doloremque voluptatibus
                laborum ducimus ab reiciendis quos ratione saepe voluptas quam facere. A beatae itaque laboriosam
                corporis sit illo, adipisci quasi rerum, in deserunt atque esse, eum nulla quo expedita cupiditate ipsa
                praesentium id ex modi temporibus est vero aspernatur minima. Amet, a rerum, odit excepturi, eligendi
                alias eius iure error totam ullam minus id modi quam enim. Reiciendis earum culpa minus. Recusandae
                accusantium dignissimos a non porro aperiam alias doloremque provident consequuntur molestias! Impedit
                exercitationem aperiam quaerat vel necessitatibus soluta provident saepe itaque quasi reprehenderit?
                Voluptate porro dolor aperiam explicabo voluptas itaque tempora magnam eum officia non nisi mollitia
                facere dolorem labore cum, a quis doloremque voluptates eligendi excepturi et, aliquam rerum? Veniam
                similique accusantium saepe, eaque accusamus vitae laborum debitis nihil dolore. Repudiandae magni
                optio, ipsum beatae pariatur sit amet est, explicabo eum, vitae iste maxime vel? Necessitatibus
                similique est eius tempora doloribus? Blanditiis quia nam asperiores assumenda necessitatibus minus
                possimus eligendi fuga sint eum iure aliquid voluptas nemo sequi laboriosam libero fugiat ipsum officiis
                quam qui architecto, voluptate amet. Iusto excepturi aliquid exercitationem magnam eaque, ratione
                tenetur. Deserunt optio provident architecto incidunt vitae quos, repellat necessitatibus perspiciatis
                eos eum ad voluptatum cupiditate ratione ex facilis atque sapiente enim aperiam odio eveniet deleniti
                esse fuga. Voluptatibus accusantium corrupti numquam, aliquam nesciunt voluptatem ut labore perspiciatis
                tempora? Asperiores corrupti iste, nulla, ipsa, cumque illum quam adipisci a esse officiis earum
                corporis repellat tenetur delectus excepturi qui tempora. Quisquam aliquam doloribus autem delectus, ad
                eius, impedit reiciendis atque, ullam numquam repellat soluta cupiditate deserunt optio tempora
                sapiente! At repellendus maiores facilis ratione.
            </p>
        </div>
    </div>


</body>
<style>
    body {
        background: white;
    }

    big {
        color: white;
        text-align: center;
    }



    .num {
        background: linear-gradient(rgb(0, 0, 0), rgb(1, 1, 34));
        color: antiquewhite;
        padding: 20px;

    }

    video {
        position: fixed;
        object-fit: cover;
        top: 0%;
        min-height: 100vh;
        width: 100%;
        z-index: -22;
    }

    h2 {
        text-shadow: 0 0 5px darkblue;
        color: white;
        text-align: center;
        margin-top: 50px;
        font-size: 30px;
        font-weight: 700px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 4px solid white;
        animation: type 5s steps(36) infinite;
        width: 19ch;
    }

    @keyframes type {
        0% {
            width: 0ch;
        }

        100% {
            width: 58pc;
        }
    }


    .img,
    .img2 {
        width: 100%;
        height: 400px;
        background-attachment: fixed;
        background-size: 100% 100%;
        padding: 100px 0px;
    }

    .img {
        background-image: url(../../static/energy.png);
        height: 500px;
    }

    .img2 {
        background-image: url(../../static/abs.png);
        height: 500px;
    }

    .two {
        background: rgb(255, 239, 224);
        padding: 50px;
    }
</style>



</html>