header img {
    width: 60px;
    float: left;
    border-radius: 30px;
}

/* contact */
.over {
    position: absolute;
    display: block;
    padding: 50px;
    height: 50%;
    width: 70%;
}

.norm {
    display: flex;
    position: relative;
    height: 50px;
    width: 100%;
    padding: 15px;
}